---
import type { BooleanProps } from "./types"

import generateShortId from "../../../utilities/generateShortId"
import mapAttributes from "../../../utilities/mapAttributes"

const {
	as: Element = "span",
	id = generateShortId(),
	labelFalse = "",
	labelTrue,
	property,
	type,
	useMicrodata,
	value,
	...attrs
} = Astro.props as BooleanProps

const attributes = mapAttributes(attrs, ["boolean"])

const label = value ? labelTrue : labelFalse

const [itemscope, itemtype] =
	useMicrodata && type ? [true, `"https://schema.org/${type}`] : []
const itemprop = useMicrodata ? property : undefined
---

{
	label ? (
		<Element
			{itemscope}
			{itemtype}
			{...attributes}
			{id}
		>
			<span {itemprop}>{label}</span>
		</Element>
	) : null
}
